@import url('https://fonts.googleapis.com/css?family=Glory');

body {
    font-family: 'Glory', sans-serif;
    color: black;
    background-color: white;
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.0125em;
    text-align: left;
    padding: 5rem 10rem 5rem 10rem;
}


.container {
    display: table;
    width: 100%;
    height: auto;
}

div {
    display: table-cell;
    text-align: left;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background: black;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px dotted gray;
}


@media only screen and (max-width: 800px) {

    body {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.0125em;
        text-align: left;
        padding-top: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    hr {
        border: 0;
        height: 1px;
        background: black;
    }

    .container {
        display: table;
        width: 100%;
        height: auto;
    }

    div {
        display: block;
        text-align: left;
        width: 100%;
        padding-top: 0.2rem;
        ;
        padding-bottom: 0.2rem;
    }

    .left {
        font-weight: 600;
        line-height: 1.5;
        padding-top: 1.3rem;
    }

    .right {
        padding-bottom: 1.3rem;
    }
}